[Unit]
Description=Configure Packages
After=network.target
ConditionPathExists=/root/Easy-Arch/setup-pkgs.sh

[Service]
Type=oneshot
ExecStart=/root/Easy-Arch/setup-pkgs.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

