[Unit]
Description=Configure Packages
After=network.target
ConditionPathExists=/root/setup-pkgs.sh

[Service]
Type=oneshot
ExecStart=/root/setup-pkgs.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target

