[Unit]
Description=Ensure yay is executable
After=multi-user.target
Requires=multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c 'chmod +x /usr/bin/yay'
StandardOutput=journal

[Install]
WantedBy=multi-user.target

