[Desktop Entry]
Type=Application
Exec=konsole -e bash -c "/home/main/Desktop/easy-arch-iso-installer.sh; exec bash"
Hidden=false
NoDisplay=false
Name=Run Script
Comment=Run the script on Desktop
